.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: 2vmax;
    font-family: "Open Sans", sans-serif;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 25vw;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .form {
      margin-top: 1vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 1.5vmax;
        }
        input {
          margin-top: 0.5vh;
          width: 20vw;
          height: 6vh;
          font-size: 1.3vmax;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 1vmin;
          margin-bottom: 2vh;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

  .footer {
    width: 60%;
    height: 7%;
    margin-top: 3vh;
  }
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 0.5vmax;
  }
}
